.header {
    color: var(--second-color);
    padding: 27px 0 ;
}
.header__container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

.header__logo {
    justify-self: start;
}

.header__navigation {
    justify-self: center;
}

.header__consultation {
    justify-self: end;
    padding: 14px 36px;
    background-color: var(--trigger-color);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #ffffff;
    border:none;
    box-shadow: 0px 2px 6px transparent;
    transition-property: background-color, box-shadow, outline-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

.header__consultation:hover {
    background-color: var(--three-color);
}

.header__consultation:active {
    background-color: var(--three-color);
    box-shadow: 0px 2px 6px rgba(2, 67, 52, 0.36);;
}

.header__consultation:focus {
outline-color:var(--second-color);
}