.navigation__list {
    display: flex;
    gap:50px
}

.navigation__link {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: var(--second-color);
    position: relative;
}
.navigation__link::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: var(--main-bg-color);
   transition-duration: 0.4s;
   transition-property: transform;
   transform: scaleX(0);
}

.navigation__link:hover::before {
    transform: scaleX(1);
}

.navigation__link:active {
    color: var(--main-bg-color);
}